@import '~antd/dist/antd.css';

.sidebar{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        border-right: 1px solid gray;
        
}


.sidebar-menu:first-child{
        min-height: 27vh;
        align-self: center;
        margin-top: 3vh;
}

.sidebar-menu {
        min-height: 70vh;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
}